*,html,body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: 'Fuzzy Bubbles', cursive;
}

body{
    height: 100vw;
    background-color: white;
}

#parent{
    background-color: lavender;
    padding: 30px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 2rem;
    border: 0.25rem solid lightgoldenrodyellow;
    font-size: 2rem;
    text-align: center;
} 

.inputs{
    color: black;
    font-size: 2rem;
    flex-direction: column;
 }


#btn, #btn2{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}



 