*,html,body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: 'Fuzzy Bubbles', cursive;
}

body{
    height: 100vw;
    background-color: #FAFFCB;
    text-align: center;
    align-items: center;
}

#parent{
    background-color: lavender;
    padding: 10px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%; 
    border-radius: 2rem;
    font-size: 2rem;
} 

h1{
    font-size: 2.5rem;
    color: black;
}

.text {
    font-size: 1.7rem;
}
.inputs{
    color: black;
    font-size: 2rem;
    flex-direction: column;
 }


.btn{
    font-size: 1.2rem;
    margin: 1rem auto;
}
#coard{
    background-color: rgb(202, 202, 232);
    padding: 10px;
    border-radius: 2rem;
    border: 0.25rem solid lightyellow;
    font-size: 2rem;
    margin: 0.25px auto;
    position: relative;
}
.cleary{
    font-size: 1.2rem;
    margin: 1rem auto;
    margin: 1rem;
}


 